<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;height:100vh}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow-x: hidden;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="http://18.222.193.74/sparc/">Home</a></li>
  <li><a href="http://18.222.193.74/sparc/polls1">Splunk</a></li>
  <li><a href="http://18.222.193.74/sparc/iconnect">ELK</a></li>
  <li><a href="#Rundeck">Rundeck</a></li>
</ul>
{% block main%}
{% endblock%}

</div>

</body>
</html>

